WIREGUARD_PRIVATE_KEY={{ secrets.exit_node_windscribe_private_key }}
WIREGUARD_ADDRESSES={{ secrets.exit_node_windscribe_address }}
WIREGUARD_PRESHARED_KEY={{ secrets.exit_node_windscribe_preshared_key }}
TS_AUTHKEY={{ secrets.exit_node_tailscale_authkey }}
